{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
    <title>Guitar Lavka</title>
</head>
<body id="body">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

<div id="brow">
    <div id="socials-container">
        <a href="" class="social-links"><img src="{% static 'images/inst.svg' %}" alt="inst" class="socials"></a>
        <a href="" class="social-links"><img src="{% static 'images/tg.svg' %}" alt="telegram" class="socials"></a>
        <a href="" class="social-links"><img src="{% static 'images/youtube.svg' %}" alt="youtube" class="socials"></a>
    </div>
    <div id="telephone-container">
        <a href="tel:+380630215097" id="telephone-link">
            <img src="{% static 'images/telephone.png' %}" alt="telephone-png" id="telephone-logo">+380630215097
        </a>
        <h6>Daily from 9:00 AM - 7:00 PM</h6>
    </div>
</div>

<div id="top-main">
    <div class="col-3"></div>
    <div id="navigation" class="col-6">
        <a href="{% url 'home' %}" class="navigation-links">Home</a>
        <a href="{% url 'catalogue' %}" class="navigation-links">CATALOG</a>
        <a href="" class="navigation-links">SERVICES</a>
        <a href="" class="navigation-links">ABOUT US</a>
        <a href="{% url 'cart' %}" class="navigation-links">DELIVERY</a>
        <a href="" class="navigation-links">REVIEWS</a>
        <a href="" class="navigation-links">TRAINING</a>
        <a href="" class="navigation-links">CONTACT</a>
        <a href="" class="navigation-links">WHOLESALE</a>
    </div>
    <div id="cart" class="col-3">
        <a href="{% url 'login' %}">
            <img src="{% static 'images/user_icon.png' %}" width="23" height="23" style="margin-right:14px;">
        </a>
        <a href="{% url 'cart' %}">
            <div id="cart-display-quantity">{{ cart_quantity }}</div>
            <img src="{% static 'images/shopping_basket.png' %}" id="shopping-cart">
        </a>
    </div>
</div>

{% block content %}
{% endblock %}

<footer>
    <div id="footer_wrapper">
        <div class="guitar-lavka-foot">
            <img src="{% static 'images/Logo_footer.png' %}" height="185" width="386">
            <h2>We operate throughout Ukraine,<br> so we can do an online instrument demo and deliver it to your door</h2>
            <h2>Have a question?</h2>
            <a href="tel:+380630215097">+380630215097</a>
            <h2>DAILY FROM 10:00 AM to 8:00 PM</h2>
            <a href="mailto:info@guitarlavka.ua">info@guitarlavka.ua</a>
        </div>

        <div id="footer-nav-links">
            <ul>
                <li><a class="footer-big-link" href="">Catalog</a></li>
                <li><a class="footer-small-link" href="{% url 'catalogue' %}?categories=1">Guitars</a></li>
                <li><a class="footer-small-link" href="{% url 'catalogue' %}?categories=2">Ukuleles</a></li>
                <li><a class="footer-small-link" href="{% url 'catalogue' %}?categories=6">Accessories</a></li>
                <li><a class="footer-small-link" href="{% url 'catalogue' %}?categories=3">Strings</a></li>
            </ul>

            <ul>
                <li><a class="footer-big-link" href="">Service</a></li>
                <li><a class="footer-small-link" href="{% url 'cart' %}">Payment</a></li>
                <li><a class="footer-small-link" href="">Warranty</a></li>
                <li><a class="footer-small-link" href="">Delivery</a></li>
            </ul>

            <ul>
                <li><a class="footer-big-link" href="{% url 'catalogue' %}">Services</a></li>
                <li><a class="footer-small-link" href="">Repair</a></li>
                <li><a class="footer-small-link" href="{% url 'catalogue' %}">Online Selection</a></li>
                <li><a class="footer-small-link" href="">Training</a></li>
                <li><a class="footer-small-link" href="{% url 'catalogue' %}">Used</a></li>
            </ul>
        </div>

        <div id="footer-image">
            <img src="{% static 'images/footer-image-insta.png' %}">
        </div>
    </div>
</footer>
</body>
</html>
