{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="cart-wrapper">
    <div id="cart-top">
        <div></div>
        <div>Item Name</div>
        <div>Quantity</div>
        <div>Price</div>
    </div>

    <div id="checkout">
        <div id="checkout-form-container"></div>
            <form method="POST">
                <h2>Checkout</h2>
                {% csrf_token %}
                {{ order_form.as_p }}
                <h4>Total: {{ total_price }} $</h4>
                <button type="submit" id="submit-checkout">Submit Order</button>
            </form>
        </div>
    </div>

    {% for item in cart_items %}
    <div class="cart-item">
        <div class="cart-item-picture">
            <img src="{{ item.product.picture.url }}" alt="{{ item.product.type }}">
        </div>
        <div class="cart-item-description">
            {{ item.product.type }}, {{ item.product.brand }} {{ item.product.model }}<br>
        </div>
        <div class="cart-item-quantity">
            <a class="cart-quantity-buttons" href="{% url 'remove_from_cart' cart_item_id=item.id %}">-</a>
            {{ item.quantity }}
            <a class="cart-quantity-buttons" href="{% url 'add_to_cart' product_slug=item.product.slug %}">+</a>
        </div>
        <div class="cart-item-price">{{ item.get_item_price }} $</div>
    </div>
    {% endfor %}
{% endblock %}
