{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="catalogue-wrapper">
    <div id="filters-text">
        <h2>Catalogue</h2>
        <br>
    </div>
    <div id="catalogue-sort">
        <span>Number of products: {{ count }}</span>
    </div>
    <div id="catalogue-filters">
        <form method="get">
            <button type="submit" id="submit_filters">Apply filters</button>
            <div class="category-checkboxes">
                {% for checkbox in category_filter_form.categories %}
                    <label class="checkbox-container">
                        {{ checkbox.tag }}
                        {{ checkbox.choice_label }}
                        <span class="checkmark"></span>
                    </label>
                {% endfor %}
            </div>
        </form>
    </div>
    <div id="catalogue-products">
        {% if products %}
            {% for product in products %}
                 <a href="{% url 'product' product_slug=product.slug %}" class="product-card">
                     <div id="my-card" class="card">
                         <img class="card-image" src="{{product.picture.url}}" alt="item image">
                         <div class="card-body">
                             <p class="card-text">
                                 <span class="card-name">{{product.type}} {{ product.brand }}</span>
                                 <span class="card-model">{{ product.model }}</span>
                                 <span>Price: {{ product.price }}$</span>
                            </p>
                        </div>
                     </div>
                 </a>
                {% endfor %}
        {% else %}
            <h1 style="color:white;">No products found</h1>
        {% endif %}
    </div>
</div>
{% endblock %}
