{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 style="color:white">My Orders:</h1>
    <p style="color:white">
        Order #{{ order.id }}<br>
        Name: {{ order.first_name }}<br>
        Surname: {{ order.last_name }}<br>
        Order price: {{ order.price }} <br>
    </p>

    {% for item, quantity in order_items %}
        <div class="cart-item">
            <div></div>
            <div class="cart-item-picture">
                <img src="{{ item.product.picture.url }}" alt="product image">
            </div>
            <div class="cart-item-description">
                {{ item.type }},
                {{ item.brand }}
                {{ item.model }}
                <br>
                {{ item.description }}
            </div>
            <div class="cart-item-quantity">
                {{ quantity }}
            </div>
            <div class="cart-item-price">{{ item.price }} $</div>
        </div>
    {% endfor %}
{% endblock %}
