{% extends 'base.html' %}
{% block content %}

<div class="flex-column">
    <form method="POST" style="color:white">
        <h1 style="margin-top: 10px">Register</h1>
        {% csrf_token %}
        {% for register_field in form %}
        <p>
            <label class="form-label" for="{{ register_field.id_for_label }}">{{ register_field.label }}</label>
                {{ register_field }}
        </p>
        <div class="form-error">{{ register_field.errors }}</div>
        {% endfor %}
        <button class="submit" type="submit">Register</button>
    </form>
    <p class="text-center">
        If you already have an account, <a href="{% url 'login' %}">login</a> instead.
    </p>
</div>

{% endblock %}
